{% extends 'food.html' %}
{% load staticfiles %}
{% block content %}
    <div class="w3-center">
        <div class="w3-bar">
            <a href="/p/gas_acc/" class="w3-button w3-hover-green w3-text-green w3-border w3-border-green"
               style="margin-right: 2px;">BUY
                GAS ACCESORIES <i
                        class="fa fa-cart-arrow-down" aria-hidden="true"></i> </a>
            <a href="{% url 'gas_repair' %}" class="w3-button w3-hover-green w3-text-green w3-border w3-border-green">Order for Gas-Repair <i
                    class="fa fa-cart-arrow-down" aria-hidden="true"></i> </a>
        </div>
    </div>


    <br>
    <div class="container">
        {% for i in sql1 %}
            <div class="panel panel-default" style=" display: block;margin: 0 auto;">
                <div class="panel-body">
                    <div class="thumbnail">
                        <img src="{{ i.image.url }}" alt="pics"
                             class="img-responsive img-hover" style="height: 200px;width: 250px;">
                    </div>
                    <h5 class="w3-center" style="white-space: pre-wrap;font-style: normal;font-size: medium">Kindly
                        enter the number of Kg you want to fill </h5>
                    <h5 id="t" style="font-style: normal;">#{{ i.price }} per 1kg </h5>
                    <div class="row">
                        <div>
                            <div id="{{ i.id }}_csrf_holder">
                                {% csrf_token %}
                            </div>
                            <input id="{{ i.id }}_quantity" type="text" placeholder="QTY" name="Qty"
                                   style="width: 110px;margin-left: 20px;"
                                   required>
                            <script>
                                var div = document.getElementById("{{ i.id }}_csrf_holder");
                                var csrf = div.getElementsByTagName('input')[0].value;
                            </script>
                            <button id="{{ i.id }}" type="button" class="btn btn-circle w3-btn w3-green w3-text-green"
                                    onclick="add_to_cart(this.id, csrf,'gas');">
                                <i class="glyphicon glyphicon-shopping-cart" style="color:white;"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>



    <br>

{% endblock %}
