{% extends 'mastertemplate.html' %}
{% load static %}
{% block head %}
    <title> Oja :: Home </title>
{% endblock %}
{% block content %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-top: 0px;margin-top: 0px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="#"> <img class="first-slide" src="{% static 'images/ba.jpg' %}" alt="First slide"></a>

            </div>
            <div class="item">
                <a href="#"> <img class="second-slide " src="{% static 'images/ba1.jpg' %}" alt="Second slide"></a>

            </div>
            <div class="item">
                <a href="#"><img class="third-slide " src="{% static 'images/ba2.jpg' %}" alt="Third slide"></a>

            </div>
        </div>

    </div><!-- /.carousel -->

    <hr>
    <style>
        .NAVIGATE {
            padding-top: 10px;
            padding-bottom: 10px;
            width: 200%;
            height: 10%;
            border: 2px solid lightgrey;
            border-radius: 8px;
        }
    </style>

    <div class="container">
        <h2>Quick Links</h2>
        <div class="w3-row">
            <div class="w3-col m3" style="width:30%">
                <div class="w3-dropdown-click">
                    <button onclick="myFunction()" class="w3-button w3-text-white w3-orange"
                            style="background-color: orange;color:white;">Links <i class="fa fa-arrow-circle-down"
                                                                                   style="color: white;"
                                                                                   aria-hidden="true"></i></button>
                    <div id="Demo" class="w3-dropdown-content w3-bar-block w3-border" style="z-index: 244">
                        <a href="/shop/provisions/" class="w3-bar-item w3-button">Provisions</a>
                        <a href="/shop/snacks/" class="w3-bar-item w3-button">Snacks | Drinks</a>
                        <a href="/shop/cooked_food/" class="w3-bar-item w3-button">Cookwd Food</a>
                        <a href="/shop/raw_food/" class="w3-bar-item w3-button">Raw Food</a>
                        <a href="/shop/soup_ingredient/" class="w3-bar-item w3-button">Soup Ingredient</a>
                        <a href="/shop/Men/" class="w3-bar-item w3-button">Men Wears</a>
                        <a href="/shop/Women/" class="w3-bar-item w3-button">Women Wears</a>
                        <a href="/shop/Children/" class="w3-bar-item w3-button">Children Wears</a>
                    </div>
                </div>

                <script>
                    function myFunction() {
                        var x = document.getElementById("Demo");
                        if (x.className.indexOf("w3-show") == -1) {
                            x.className += " w3-show";
                        } else {
                            x.className = x.className.replace(" w3-show", "");
                        }
                    }
                </script>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- lastest goods-->
    <style>
        .offer {
            position: absolute;
            right: 15%;
            border: 2px solid red;
            border-radius: 100px 0 0 100px;
            padding: 1px;
            top: 0%;
            margin-top: 5px;
            z-index: 498;
        }

        .offer > p {
            background: red;
            border-radius: 120px 0px 0px 120px;
            text-align: center;
            line-height: 0em !important;
            font-size: 1em !important;
            padding: 7px;
            color: white;
        }
    </style>

    <!-- Start of Food -->
    {% if sql1 %}
        <div class="container w3-border" style="margin-bottom: 2%;">
            <h3 style="right: 100%; padding-bottom: 1%; color: red;">Food Store </h3>
            <div class="row">
                {% for i in sql1 %}
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="thumbnail">
                                    <img src="{{ i.image.url }}" alt="pics"
                                         class="img-responsive img-hover" style="height: 150px;width: 200px;">
                                </div>
                                <div class="row">
                                    <h5 id="t" style="width: 110px;margin-left: 20px;">{{ i.product_name }} </h5>
                                    <h6 id="t" style="width: 110px;margin-left: 20px;">{{ i.supplier }}</h6>
                                </div>
                                <h5 id="t">#{{ i.price }} </h5>
                                <div class="row">
                                    <div>
                                        <div id="{{ i.id }}_csrf_holder">
                                            {% csrf_token %}
                                        </div>
                                        <input id="{{ i.id }}_quantity" type="text" placeholder="QTY" name="Qty"
                                               style="width: 110px;margin-left: 20px;"
                                               required>
                                        <script>
                                            var div = document.getElementById("{{ i.id }}_csrf_holder");
                                            var csrf = div.getElementsByTagName('input')[0].value;
                                        </script>
                                        <button id="{{ i.id }}" type="button" class="btn btn-circle w3-btn"
                                                style="background-color: orange; color: black;"
                                                onclick="add_to_cart(this.id, csrf, 'provision');">
                                            <i class="glyphicon glyphicon-shopping-cart" style="color: white;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    {% endif %}
    <!--end of Food-->

    <!--Start of Wears-->
    {% if wear %}
        <div class="container w3-border" style="margin-bottom: 2%;">
            <h3 style="right: 100%; padding-bottom: 1%; color: red;"> Wears </h3>
            <div class="row">
                {% for i in wear %}
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {#                                <div class="offer"><p><span>New</span></p></div>#}
                                <div class="thumbnail">
                                    <img src="{{ i.image.url }}" alt="pics"
                                         class="img-responsive img-hover" style="height: 150px;width: 200px;">
                                </div>
                                <div class="row">
                                    <h5 id="t" style="width: 110px;margin-left: 20px;">{{ i.product_name }} </h5>
                                    <h6 id="t" style="width: 110px;margin-left: 20px;">{{ i.supplier }}</h6>
                                </div>
                                <h5 id="t">#{{ i.price }} </h5>
                                <div class="row">
                                    <div>
                                        <div id="{{ i.id }}_csrf_holder">
                                            {% csrf_token %}
                                        </div>
                                        <input id="{{ i.id }}_quantity" type="text" placeholder="QTY" name="Qty"
                                               style="width: 110px;margin-left: 20px;"
                                               required>
                                        <script>
                                            var div = document.getElementById("{{ i.id }}_csrf_holder");
                                            var csrf = div.getElementsByTagName('input')[0].value;
                                        </script>
                                        <button id="{{ i.id }}" type="button" class="btn btn-circle w3-btn"
                                                style="background-color: orange; color: black;"
                                                onclick="add_to_cart(this.id, csrf, 'provision');">
                                            <i class="glyphicon glyphicon-shopping-cart" style="color: white;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    {% endif %}
    <!--end of Wears-->


    <br>
    <br>

    <div class="container w3-center">
        <form class="form-inline" method="post" action="/search/">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="seach" placeholder="Enter Product name" required>
            </div>
            <button type="submit" class="btn w3-btn w3-hover-red w3-orange" style="background-color: orange;color:white;">Search</button>
        </form>
    </div>

    <br>
    <br>


{% endblock %}

