{% extends 'ms.html' %}
{% load static %}

{% block content %}
    <style>
        .con {
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            overflow-x: hidden !important;
        }

    </style>

    <div class="container">
        <ul class="list-group">
            <ol class="list-group-item">
                <h4>NAME: </h4>
            </ol>
            <ol class="list-group-item">
                <h4>Email: </h4>
            </ol>
            <ol class="list-group-item">
                <h4>Phone: </h4>
            </ol>
            <ol class="list-group-item">
                <h4>Address: </h4>
            </ol>
            <ol class="list-group-item">
                <h4>Qty: </h4>
            </ol>
            <ol class="list-group-item">
                <h4>Item: </h4>
            </ol>
            <ol class="list-group-item">
                <h4>Total: </h4>
            </ol>
            <ol class="list-group-item">
                <h4>Total: </h4>
            </ol>
        </ul>
    </div>

{% endblock %}